.vs/
RIBS.Jobs.Payment/bin/
RIBS.Jobs.Payment/obj/
RIBS.Jobs.Web/bin/
RIBS.Jobs.Web/obj/
RIBS.Jobs.WelcomeEmail/bin/
RIBS.Jobs.WelcomeEmail/obj/
bin
obj
*.csproj.user
.localhistory/
yarn.lock
node_modules/
TestResults/
*.user
*.pubxml
